# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
.venv/
ENV/

# Local data
storage.json

# IDEs
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
